annotated-types
anyio
Brotli
certifi
cffi
charset-normalizer
click
cryptography
exceptiongroup
fastapi
greenlet
h11
idna
pycparser
pydantic
pydantic_core
PySocks
requests
sniffio
SQLAlchemy
sqlmodel
starlette
typing_extensions
urllib3
uvicorn
xmltodict
boto3
python-dotenv
pymysql
openai
pandas